@import "../utilities/extends";
@import "../utilities/mapas";
@import "../utilities/mixins";
@import "../utilities/variables";


.divBodyBloque{
    background-color: $colorFondo;
    main{
        @extend %espacio;
        h1,h2{
            @extend %titulos;
        }
        .bloqueParrafo{
            @extend %parrafos;
            text-align: center;
        }
        .bloqueAclaracion{
            @extend %parrafos;
            text-align: right;
            font-size: 0.7rem;
        }
        .bloqueMixcloud{
            @extend %espacio;
        }
        .bloqueForm{
            @include flex(column, center, center, nowrap);
            
            .hide{
                display: none;
            }

            .bloqueFormDatos{
                @extend %espacio;
                background-color: $colorPrincipal;
                color: $colorSecundario;
                
                
                
                .datos{
                    display: inline-block;
                    width: 90%;
                    margin: 1rem;
                    border: none;
                    border-radius: 0.5rem;
                    border-bottom: solid darkred 0.2rem;
                }
                .datosHistoria{
                    margin: 1rem;
                    display: inline-block;
                    resize: none;
                    text-align: center;
                    width: 90%;
                    height: 5rem;
                    border: none;
                    border-radius: 0.5rem;
                    border-bottom: solid darkred 0.2rem;
                }
                .foto{
                    margin: 1rem;
                    display: inline-block;
                }
                .botones{
                    display: inline-block;
                    justify-content: center;
                    margin: 1rem;
                }
                
            }

            #quiz{
                padding: 30px;
                background-color: darkred;
                color: $colorSecundario;
                text-align: center;
                font-size: 1.5rem;
                @extend %parrafos;
                width: 80vw;
                
                .hide{
                    display: none;
                }
                
                .btn{
                    @extend %espacio;
                    background-color: whitesmoke;
                    color: $colorPrincipal;
                    text-align: center;
                    font-size: 1rem;
                    margin: 2rem;
                    justify-content: space-evenly;
                    align-content: center;
                    &:hover{
                        border: black solid 2px;
                        transform: scale(1.2);
                        transition: 0.3s;
                    }
                    
                    
                }
                .correct{
                    background-color: green;
                    color: black;
                }
                .wrong{
                    background-color: red;
                    color: whitesmoke;
                }
            }
            
        }
    }
}