@import "utilities/variables";

//titulos
%titulos{
    font-family: $fontTitulos;
    color: $colorSecundario;
}

//parrafos
%parrafos{
    font-family: $fontParrafo;
    color: $colorParrafo;
}

//margin y padding
%espacio{
    margin: 0.5rem;
    padding: 1rem;
}