@import "utilities/variables";

$titulos: (
    titulo-font: $fontTitulos,
    titulo-color: $colorSecundario,
);

$parrafos: (
    parrafo-font: $fontParrafo,
    parrafo-color: $colorParrafo,
);










