// colores
$colorPrincipal: #e0040b;
$colorSecundario: whitesmoke;
$colorFondo: grey;
$colorParrafo: black;

// fonts
$fontNav: 'Shadows Into Light', cursive;
$fontTitulos: 'Bebas Neue', cursive;
$fontParrafo: 'Montserrat', sans-serif;