@import "../utilities/variables";

header{
    background-color: $colorPrincipal;
    border-bottom: solid 0.7rem $colorSecundario;
    nav{
        ul{
            list-style: none;
            li{
                color: $colorSecundario;
                font-family: $fontNav; 
                font-size: 1.5rem;
                margin-right: 2rem;
                @media screen and (min-width: 1200px){
                    &:hover{
                        text-decoration: underline;
                    }                    
                };
                .dropdown-menu{
                    list-style: none;
                    background-color: $colorSecundario;
                    color: whitesmoke;
                }
                
            }
        }
    }
}